/* font-family: 'Acme', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Russo One', sans-serif; */

body {
    font-family: "Cabin", sans-serif;
    background-color: #00ff621f;
    font-size: larger;
    margin: 0;
    padding: 0;
}

#jumbotronTitle h1, #jumbotronTitle h2 {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    text-shadow: 3px 4px black;
}

h2, h3 {
    font-family: 'Russo One', sans-serif;
}

h2 {
    color: #005315;
}

header h2 {
    color: #006326;
}

.site-footer {
    background-image: linear-gradient(#00701863, rgb(179, 250, 196));
    padding: 20px 0;
    margin: 0;
}

.jumbotron {
    margin: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    background-image: url(../img/bronze-statue.JPG);
    background-size: cover;
    background-position: 0% 25%;
    color: white;
}

.navbar {
    background-color: #005315;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

#jumbotronTitle {
    background-color: rgba(0,0,0,0.5);
}

#accordion .card-header {
    background-color: #006326;
    color: white;
}

#accordion .card-body{
    background-color: rgba(0,70,0,0.5);
    color: black;
    font-weight: 900;
}

#accordion .btn-link {
    color: white;
}

#feedbackModal .modal-header {
    background-color: #005315;
    color: white;
}

#feedbackModal .modal-body {
    background-color: #00701863;
}

#about-img {
    border: 2px solid black;
    box-shadow: 7px 7px 5px;
}

#boardHeader {
    background-color: #005315;
}

#course-section {
    background-color:#02993c;
    background-size: cover;
}

#course-section h2{
    color: white;
}

#board {
    background-color:#02993c;
    margin: 0;
    padding: 0;
    display: flex;
}