/* font-family: 'Kanit', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Raleway", sans-serif;
}

h2 {
    color: #005315;
}

header h2 {
    color: #006326;
}

footer {
    background-image: linear-gradient(#ceffda, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #007e15, #19c767, #005014);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}